.project {
    margin: 0 auto 20px;
    width: 90%;
    transition: opacity 0.5s ease-in-out;
    border: 3px solid #272727;
}

.project:hover {
    opacity: 0.5;
    border: 3px solid #f3ca2f;
    border-radius: 10px;
}

@media screen and (min-width: 500px) {
    .project {
        width: 30%;
    }
}