.portfolio {
    min-height: 100vh;
    background-color: #272727;
    color: cornsilk;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.portfolio__container {
    color: cornsilk;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    .portfolio__container {
        flex-direction: row;
    }
}