@import '../../utils/SCSS/variableStyles';

.app {
  position: relative;
  font-family: $fontFamily;
  text-align: center;
  min-width: 320px;
  width: 100%;
  background-color: $darkGrayColor;
}

body {
  background-color: $darkGrayColor;
}

.fadeTopContainer {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fadeTopContainer.visible {
  opacity: 1;
  transform: translateY(0);
}
