@import '../../utils/SCSS/variableStyles';

.skills {
    position: relative;
    box-sizing: content-box;
    color: $whiteColor;
    @include flex(row, space-evenly, stretch);
    flex-wrap: wrap;
}








