@import '../../utils/SCSS/variableStyles';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
    @include flex(row, center, center);
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}