@import '../../utils/SCSS/variableStyles';

.section {
    padding-top: 70px;
    background-color: $darkGrayColor;
    @include flex(column, flex-start, stretch);
    &:nth-child(2) h3 {
        margin-bottom: 0;
    }
    &:nth-child(n+3) h3 {
        margin-bottom: 2.14rem;
    }
}



