@import '../../utils/SCSS/variableStyles';

.skill {
    @include indents(0 0 20px, 2.14rem 1.928rem);
    width: 90vw;
    box-sizing: border-box;
    @media screen and (min-width: 500px) {
        width: 30vw;
    }
    .skill__logo {
        height: 144px;
    }
    .skill__title {
        @include font(600, 1.571rem, 1.1, 0);
        @include indents(2.6rem 0, 0);
    }
    .skill__description {
        @include font(400, 1rem, 1.1, .025em);
        @include indents(2.6rem 0 0, 0);
        color: $textGrayColor;
    }
}