.footer {
    background-color: #272727;
    margin: 0;
    padding: 0;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.footer__link {
    margin: 0 25px;
    max-height: 50px;
    border: 1px solid #f3ca2f;
    transition: opacity 0.5s ease-in-out;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__copyright {
    margin: 0;
    padding: 0;
}

.footer__icons8 {
    color: #f3ca2f;
    margin: 0;
    padding: 0;
}